/* Maintain general typography */
.contact-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2a2d3d;
    color: #CA9721;
    border-radius: 10px;
}
h1 {
    color: #CA9721; /* Using the H1 color from App.css */
    font-size: 2.5em;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 20px;
}

/* Styles specific to the contact form */
input, select, textarea, button {
    width: 75%;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none;
}

textarea {
    height: auto;  /* Reset height for the textarea */
    resize: vertical;  /* Allow vertical resize */
}

button {
    background-color: #CA9721;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A47A1A;
}

/* Utilize the woodroffe-description conventions for form and contact details */
.contact-form, .map-and-details {
    flex: 1;
    font-family: 'Georgia', serif;  /* This will override the Segoe UI from the parent */
    font-size: 18px;
    line-height: 1.6;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    max-width: 800px;
    text-align: center;
}

/* Google Maps & Contact Details */
.map-and-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
